{# src/AppBundle/Resources/views/Admin/bulkUploadUsers.html.twig #}

{% extends 'AppBundle::layout.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block title %} {{'bulk_upload_users'|trans({}, 'messages')}} {% endblock %}


{% block page %}
    <div class="col-sm-5">
    <h1>{{'bulk_upload_users'|trans({}, 'messages')}}</h1>
 <form action="" method="post" class="minwidth" {{ form_enctype(form) }}>
     
        {{ form_widget(form) }}
 </form>
    </div>     
        {{include("AppBundle:Admin:_instructions_#{app.request.getLocale()}.html.twig")}}
{% endblock %}