{# src/AppBundle/Resources/views/Admin/userIndex.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}


{% block title %} {{'users'|trans({}, 'messages')}} {% endblock %}

{%block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/app/js/bootstrap-multiselect/css/bootstrap-multiselect.css")}}" type="text/css"/>
{% endblock %}

{% block page %}
    
  
  <div class="col-sm-12">   
   
    
    <!--messages -->
       
        
         {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-warning">
                {{ flashMessage }}
            </div>
         {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-warning">
                {{ flashMessage }}
            </div>
         {% endfor %}
         <!--messages -->
    
    <div id="filterbar" style="padding-bottom: 5px;" >
        <select name="courses-multi" id="courses-multi" multiple="multiple">
            {% for course in courses %}
                <option value="{{course.id}}">{{course.name}}</option>
                {% endfor %}
        </select>
        <input type="button" id="filtriraj" value="Izlistaj sve trenere na označenim tečajevima" class="btn"/>
    </div>
            <div id="filterbar" ></div>
<table id="bTable1"
       data-striped = "true"
       data-filter-control="true"
       data-filter-show-clear="true"
       data-url="{{ url('get_teacher2opencourse_ajax_call') }}"
       data-toolbar="#filterbar"
       data-toggle="table"
       data-show-export="true"
       data-show-columns="true"
       data-side-pagination="server" 
       data-pagination="true" 
       data-page-list="[5, 10, 20, 50, 100, 500]"
       data-resizable="true"
       class="table table-hover"
       data-click-to-select="true"
       data-cookie="true"
       data-cookie-id-table="saveId1"
>
    <thead class="bTable-head">
    <tr>
        <th data-field="program" data-align="left" data-sortable="true" data-filter-control="select" data-filter-data="var_ProgramValues"  >{{'course.program'|trans({}, 'messages')}}</th>
        <th data-field="course" data-align="left" data-sortable="true" data-filter-control="input">{{'opencourse.course'|trans({}, 'messages')}}</th>
        <th data-field="start" data-align="left" data-sortable="true" data-filter-control="datepicker" data-filter-datepicker-options='{"autoclose":true, "clearBtn": true,  "orientation": "bottom", "format": "dd.mm.yyyy"}'  >{{'opencourse.startdate'|trans({}, 'messages')}}</th>
        <th data-field="end" data-align="left" data-sortable="true" data-filter-control="datepicker" data-filter-datepicker-options='{"autoclose":true, "clearBtn": true,  "orientation": "bottom", "format": "dd.mm.yyyy"}'  >{{'opencourse.finishdate'|trans({}, 'messages')}}</th>
        <th data-field="city" data-align="left" data-sortable="true" data-filter-control="input"  >{{'pers_info.city'|trans({}, 'messages')}}</th>
        <th data-field="firstname" data-align="left" data-sortable="true" data-filter-control="input"  >{{'pers_info.firstname'|trans({}, 'messages')}}</th>
        <th data-field="lastname" data-align="left" data-sortable="true" data-filter-control="input" >{{'pers_info.lastname'|trans({}, 'messages')}}</th>
        <th data-field="email" data-align="left" data-sortable="true" data-filter-control="input"  >{{'email'|trans({}, 'messages')}}</th>
        <th data-field="telephone" data-align="left" data-sortable="true" data-filter-control="input"  >{{'pers_info.telephone'|trans({}, 'messages')}}</th>
        <th data-field="gender" data-align="left" data-sortable="true" data-visible="false" data-filter-control="select" data-filter-data="var_GenderValues" >{{'pers_info.gender'|trans({}, 'messages')}}</th>
        <th data-field="syndicate" data-align="left" data-sortable="true" data-filter-control="select" data-visible="true" data-filter-data="var_SyndicateValues">{{'offer.syndicate'|trans({}, 'messages')}}</th>
        <th data-field="employer" data-align="left" data-sortable="true" data-filter-control="input" data-visible="true">{{'pers_info.employer'|trans({}, 'messages')}}</th>
        <th data-field="sendSerificateTo" data-align="left" data-sortable="true" data-visible="false" >{{'sendSerificateTo'|trans({}, 'messages')}}</th>        
        <th data-field="officialAddressStreet" data-align="left" data-sortable="true" data-visible="false" >{{'officialAddressStreet'|trans({}, 'messages')}}</th>        
        <th data-field="officialAddressCity" data-align="left" data-sortable="true" data-visible="false" >{{'officialAddressCity'|trans({}, 'messages')}}</th>        
        <th data-field="officialAddressZip" data-align="left" data-sortable="true" data-visible="false" >{{'officialAddressZip'|trans({}, 'messages')}}</th>        
        <th data-field="privatAddressStreet" data-align="left" data-sortable="true" data-visible="false"  >{{'privatAddressStreet'|trans({}, 'messages')}}</th>        
        <th data-field="privatAddressCity" data-align="left" data-sortable="true" data-visible="false"  >{{'privatAddressCity'|trans({}, 'messages')}}</th>
        <th data-field="birthdate" data-align="left" data-sortable="true" data-visible="false"  >{{'pers_info.birthdate'|trans({}, 'messages')}}</th>
        <th data-field="status_open_course" data-align="left" data-sortable="false" data-visible="false" data-filter-control="select" data-filter-data="var_StatusCourseValues" >Status tečaja</th>
    </tr>
    </thead>
</table>
 
<div id="log">
</div>

</div>
    
{%endblock%}  


{% block javascript %}

<script src="{{ asset("bundles/app/js/filter_table/jquery.base64.js")}}" type="text/javascript"></script>
<script src="{{ asset("bundles/app/js/bs-table/bootstrap-table.js")}}" type="text/javascript"></script>
<script src="{{ asset("bundles/app/js/bs-table/extensions/filter/bootstrap-table-filter.js" ) }}" type="text/javascript"></script>
<script src="{{ asset("bundles/app/js/bs-table/extensions/filter-control/bootstrap-table-filter-control.js"  ) }}"  type="text/javascript"></script>
<script src="{{ asset("bundles/app/js/bs-table/extensions/export/bootstrap-table-export.js" ) }}"  type="text/javascript"></script>
<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="{{ asset("bundles/app/js/bs-table/extensions/editable/bootstrap-table-editable.js"  ) }}"  type="text/javascript"></script>
<script src="{{ asset("bundles/app/js/bs-table/extensions/editable/bootstrap-editable.js"  ) }}"  type="text/javascript"></script>
<script src="{{ asset("bundles/app/js/bs-table/extensions/cookie/bootstrap-table-cookie.js" ) }}" type="text/javascript"></script>
<script src="{{ asset("bundles/app/js/bs-datepicker/js/bootstrap-datepicker-#{app.request.getLocale()}.js")}}" type="text/javascript"></script>
<script src="{{ asset("bundles/app/js/bs-table/locale/bootstrap-table-#{app.request.getLocale()}.js")}}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset("bundles/app/js/bootstrap-multiselect/js/bootstrap-multiselect.js")}}"></script>
<script src="{{ asset("bundles/app/js/items.js")}}" type="text/javascript"></script>
<script type="text/javascript">
    var GenderValues={ "": "", "{{'male'|trans({}, 'messages')}}" : "{{'male'|trans({}, 'messages')}}", "{{'female'|trans({}, 'messages')}}" : "{{'female'|trans({}, 'messages')}}" };
    var ActivValues={ "": "", "1" : "{{'active'|trans({}, 'messages')}}", "0" : "{{'locked'|trans({}, 'messages')}}" };
    var YesNoValues={ "": "", "1" : "da", "0" : "ne" };
   
   var ProgramValues={ "": "", 
        {%for program in programs%}
              "{{program.id}}":"{{program.name}}" ,
        {%endfor%}
            "":""
             };
             
    var SyndicateValues={ "": "", 
        {%for syndicate in syndicates%}
              "{{syndicate.id}}":"{{syndicate.name}}" ,
        {%endfor%}
            "":""
             }; 
             
    var StatusCourseValues = { "": "", 
        {%for key, status in openCoourseStatuses%}
              "{{key}}":"{{status}}" ,
        {%endfor%}
            "":""
             }; 
             
    $(document).ready(function() {
        $('#courses-multi').multiselect({
            enableFiltering: true
        });
    });
    
    $("#filtriraj").click(function() {
        $("th[data-field='course'] :input").val($('#courses-multi').val());
        var e = jQuery.Event( 'keyup');

        $("th[data-field='course'] :input").trigger(e);
    });
    
    
    $("th[data-field='course'] :input").css('visibility', 'hidden');
</script>

{%endblock%}
