{# src/AppBundle/Resources/views/User/activation.html.twig #}
<p>
    {{'mail.dear'|trans({}, 'messages')}}
</p>
<br>
<p>
   {{'mail.line1'|trans({}, 'messages')}}
</p>
<p>
   {{'mail.line2'|trans({}, 'messages')}}
</p>
<p>
   {{'mail.line3'|trans({}, 'messages')}}
</p>
<br>
<p>
   {{'mail.foot1'|trans({}, 'messages')}}
</p>
<p>
   {{'mail.foot2'|trans({}, 'messages')}}
</p>
<p>
   {{'mail.foot3'|trans({}, 'messages')}}
</p>
<p>
   {{'mail.foot4'|trans({}, 'messages')}}
</p>
<p>
   {{'mail.foot5'|trans({}, 'messages')}}
</p>

 
