{# src/AppBundle/Resources/views/User/resetPasword.html.twig #}
<p>
    {{'mail.dear'|trans({}, 'messages')}}
</p>
<br>
 <p>{{'mail.reset1'|trans({}, 'messages')}}<br/>
 <a href="{{ url('homepage') }}reset?email={{user.getEmail}}&code={{user.getActivationhash}}">{{'mail.link'|trans({}, 'messages')}}</a> <br>{{'mail.reset2'|trans({}, 'messages')}}<br/>
 {{ url('homepage') }}reset?email={{user.getEmail}}&code={{user.getActivationhash}}</p>
 
 <br>
<p>
   {{'mail.foot1'|trans({}, 'messages')}}
</p>
<p>
   {{'mail.foot2'|trans({}, 'messages')}}
</p>
<p>
   {{'mail.foot3'|trans({}, 'messages')}}
</p>
<p>
   {{'mail.foot4'|trans({}, 'messages')}}
</p>
<p>
   {{'mail.foot5'|trans({}, 'messages')}}
</p>
