{# src/AppBundle/Resources/views/Default/index.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}  
{% block title %} {{'EDUCA@SSSH'|trans({},'messages')}} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/calendar.css")}}">

{% endblock %} 

{% block page %}
<div class="col-sm-12">   
  <h3>Spisak tečajeva za koje ste prijavljeni kao predavač</h3>
   <div class="col-sm-9">   
    <table id="bTable39"
         data-striped = "true"
           data-filter-control="true"
           data-toolbar="#filterbar"
           data-toggle="table"
           data-show-columns="true"
           data-page-list="[5, 10, 20, 50, 100, ALL]" 
           data-resizable="true"
           data-pagination="true" 
           class="table table-hover"
           data-click-to-select="true"
           data-cookie="true"
           data-cookie-id-table="saveId5">     
      <thead class="bTable-head">
            <tr>
                <th data-field="codeCourse" data-align="left" data-sortable="true" data-visible="false">{{'course.code'|trans({}, 'messages')}}</th>
                <th data-field="name" data-align="left" data-sortable="true" >{{'course.name'|trans({}, 'messages')}}</th>
                <th data-field="program" data-align="left" data-sortable="true" data-filter-control="select" data-filter-data="var_programValues" >{{'course.program'|trans({}, 'messages')}}</th>
                <th data-field="targetGroup" data-align="left" data-visible="false" data-sortable="true" >{{'course.target_group'|trans({}, 'messages')}}</th>
                <th data-field="description" data-align="left" data-visible="false" data-sortable="true" >{{'course.description'|trans({}, 'messages')}}</th>
                <th data-field="outcomes" data-align="left" data-visible="false" data-sortable="true" >{{'course.outcomes'|trans({}, 'messages')}}</th>
                <th data-field="content" data-align="left" data-visible="false" data-sortable="true" >{{'course.content'|trans({}, 'messages')}}</th>
                <th data-field="hours" data-align="left" data-sortable="true" >{{'course.durationHours'|trans({}, 'messages')}}</th>
                <th data-field="days" data-align="left" data-visible="false" >{{'course.durationDays'|trans({}, 'messages')}}</th>
            </tr>        
       </thead>
        <tbody>
         {% for course in courses%}
           <tr>
                <td>{{course.idCourse.codeCourse}}</td>
                <td>{{course.idCourse.name}}</td>
                <td>{{course.idCourse.program}}</td>
                <td>{{course.idCourse.targetGroup}}</td>
                <td>{{course.idCourse.description}}</td>
                <td>{{course.idCourse.outcomes}}</td>
                <td>{{course.idCourse.content}}</td>
                <td>{{course.idCourse.durationHours}}</td>
                <td>{{course.idCourse.durationDays}}</td>
             </tr>   
         {% endfor %}
    </table>
   </div>
   
   
     <!-- BEGIN calendar and programs-->
        <div class="col-sm-3">
            <!--calandar -->
                   
                  
                           <!-- BODY Portlet -->  
                           <div class="panel-body" style=" padding: 2px 0px 0px 0px">
                               
                                 <div class="page-header" style="margin:0px; padding: 0px">
                                        <h3 style="text-align: center;"></h3>
                                 </div>
                               
                                 <div class="btn-group btn-group-justified">
                                        <button class="btn btn-primary pb-btn" data-calendar-nav="prev" style="width: 33%"> << </button>
                                        <button class="btn btn-primary pb-btn" data-calendar-nav="today" style="width: 33%; background-color: #FFECEC;border-top-color: #FFECEC;color: #053555;">Danas</button>
                                        <button class="btn btn-primary pb-btn" data-calendar-nav="next" style="width: 34%"> >> </button>
                                 </div>
                               
                                 <div class="btn-group  btn-group-justified">
                                        <button class="btn btn-danger " data-calendar-view="year" style="width: 33%">Godina</button>
                                        <button class="btn btn-danger" data-calendar-view="month" style="width: 33%">Mjesec</button>
                                        <button class="btn btn-danger" data-calendar-view="day" style="width: 34%">Dan</button>
                                 </div>
                               
                                    <div id="calendar"></div>
                          </div>
        
            <!--end calendar -->
            
              {%if is_granted("ROLE_USER") and is_granted('ROLE_ADMIN') == false %}
                  {{ render(controller('AppBundle:OpenCourse:finishedWidget',{"status":4})) }}
              {% endif %}
              
              {%if is_granted("ROLE_USER") and is_granted('ROLE_ADMIN') == false %}
                  {{ render(controller('AppBundle:OpenCourse:finishedWidget',{"status":3})) }}
              {% endif %}
              
            
              {%if is_granted("ROLE_ADMIN")%}
                  {{ render(controller('AppBundle:Admin:widget')) }}
              {% endif %}
              
            <div class="program-title">  Programi:
            </div>
           
           {% for program in programs %} 
               
                 <div class="panel-body program-body " style="background-color:{{program.color}};padding-left: 30px;">
                           {{ program.name }}:
                           {%for course in program.courses%}
                               <li style=" padding-left: 30px;padding-top: 8px;">{{course.name}}</li>    
                           {%endfor%}
                 </div>
 
            {% endfor %}
        </div>
 </div>  
{% endblock %}    
                                
{%block javascript %}                                
       
	<script type="text/javascript" src="{{ asset("bundles/app/js/underscore/underscore-min.js")}}"></script>
	<script type="text/javascript" src="{{ asset("bundles/app/js/jstimezonedetect/jstz.min.js")}}"></script>
	<script type="text/javascript" src="{{ asset("bundles/app/js/bootstrap-calendar-master/js/calendar.js")}}"></script>
	<script type="text/javascript" src="{{ asset("bundles/app/js/bootstrap-calendar-master/js/app.js")}}"></script>
        <script src="{{ asset("bundles/app/js/filter_table/jquery.base64.js")}}" type="text/javascript"></script>
        <script src="{{ asset("bundles/app/js/bs-table/bootstrap-table.js")}}" type="text/javascript"></script>
        <script src="{{ asset("bundles/app/js/bs-table/locale/bootstrap-table-#{app.request.getLocale()}.js")}}" type="text/javascript"></script>
        <script src="{{ asset("bundles/app/js/bs-table/extensions/filter/bootstrap-table-filter.js" ) }}" type="text/javascript"></script>
        <script src="{{ asset("bundles/app/js/bs-table/extensions/filter-control/bootstrap-table-filter-control.js"  ) }}"  type="text/javascript"></script>
        <script src="{{ asset("bundles/app/js/bs-table/extensions/export/bootstrap-table-export.js" ) }}"  type="text/javascript"></script>
        <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
	<script type="text/javascript">
		var disqus_shortname = 'bootstrapcalendar'; // required: replace example with your forum shortname
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
        <script>
            var programValues={ 
                  "": "", 
              {%for program in programs%}
                    "{{program.name}}":"{{program.name}}" ,
              {%endfor%}
                  "":""
                   }; 
        </script>

{% endblock %}
