{# src/AppBundle/Resources/views/User/resetPassword.html.twig #}

{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
                
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
          {{ flashMessage }}
        </div>
     {% endfor %}
 <div class="form-signin">  
      <h2 class="form-signin-heading">{{'reset_pass'|trans({}, 'messages')}}</h2>
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
                
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
          {{ flashMessage }}
        </div>
     {% endfor %}
        <div class="login-wrap">
            <div class="user-login-info"> 
             {{ form(form) }}
            </div>
            <a href="{{ path('user_login') }}">
              <button data-dismiss="modal" class="btn btn-default" type="button">{{'cancel'|trans({}, 'messages')}}</button>
            </a>  
               
              <button class="btn btn-success" type="submit">{{'submit'|trans({}, 'messages')}}</button>
              
        </div>
 </div>
{% endblock %}